     <section class="expenses-empty" >
  
    <% if current_user.expenses.empty? %>
      <p>
        You have no expenses yet.
      </p>
      <%= button_to "Add expense" , "/expenses/new",  :method => :get%>
    <% else %>

<section class="expenses">
    <div class="add-expense">
        <%= button_to "Add expense" , "/expenses/new",  :method => :get%>
    </div>
    
  <h2>
      Your expenses
    </h2>
        <table class="table">
            <thead>
            <tr>
                <th>
                Name
                </th>
                <th>
                Amount
                </th>
                   <th>
                Description
                </th>
             
                <th>
                Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <% current_user.expenses.each do |expense| %>
                <tr>
                <td>
                    <%= expense.name %>
                </td>
                  <td>
                    <%= expense.amount %>
                </td>
                <td>
                    <%= expense.description %>
                </td>
               
               
                <td>
                   
                    <%= button_to "Delete", "/expenses/#{expense.id}", method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </section>

    <%end%>
 
   

    </section>