<%= turbo_frame_tag "modal" do %>
<%= form_with model: @expense, url: expenses_path  do |f| %>
<div class="modal">

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
    </p>
 
  <p>
    <%= f.submit %>
  </p>
   <div>
      <%= button_tag "Cancel",  data: {
        controller: "modal",
        action: "modal#close",
      }, class: "cancel-button" %>
    </div>
</div>

<% end %>
<% end %>
