<section>
    <nav class="navbar">
    <div >
    Expense tracker
    </div>
       <% if user_signed_in?%>
  
    <div class="">
      <%=button_to "logout", destroy_user_session_path, method: :delete,class:"" %>
    </div>
  <% else %>
    <div>
      <%= link_to "Login",  new_user_session_path   %>
    </div>
    <div>
     
      <%= link_to "Sign up",  new_user_registration_path %>
    </div>
  <% end %>
  <% if cookies[:moon] %>
<%= button_to 'Light Mode', sun_path, method: :get, class:"toggle"%>
<% else %>
<%= button_to 'Dark Mode', moon_path, method: :get%>
<% end %>
       
    </nav>
</section>