<section>
    <nav class="flex flex-row justify-between w-full mt-2 align-baseline ">
    <div class="">
    Expense tracker
    </div>
       <% if user_signed_in?%>
  
    <div class="mt-2 align-baseline">
      <%=button_to "logout", destroy_user_session_path, method: :delete,class:"bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
    </div>
  <% else %>
    <div class="mb-5 mt-2 align-baseline ">
      <%= link_to "Login",  new_user_session_path ,class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  %>
    </div>
    <div class="mt-2 align-baseline ">
     
      <%= link_to "Sign up",  new_user_registration_path ,class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded " %>
    </div>
  <% end %>
  <% if cookies[:moon] %>
<%= button_to 'Light Mode', sun_path, method: :get, class:"toggle"%>
<% else %>
<%= button_to 'Dark Mode', moon_path, method: :get%>
<% end %>
       
    </nav>
</section>