<section>
    <nav class="navbar">
    <div class="icon" >
<%= image_tag("savings.png", style: 'height:4.8vw;width:4.8vw; margin: 5px;')%>
    </div>
       <% if user_signed_in?%>
  
    <div class="">
      <%=button_to "logout", destroy_user_session_path, method: :delete,class:"" %>
    </div>
  <% else %>
    <div>
      <%= link_to "Login",  new_user_session_path   %>
    </div>
    <div>
     
      <%= link_to "Sign up",  new_user_registration_path %>
    </div>
  <% end %>
  <% if cookies[:moon] %>
<%= link_to  image_tag("sun.png", class:"logo"), sun_path, method: :get%>
<% else %>
<%= link_to image_tag("moon.png", class:"logo"), moon_path, method: :get%>
<% end %>
       
    </nav>
</section>