<!DOCTYPE html>
<html>
  <head>
    <title>Expense tracker</title>
     <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <% if cookies[:moon] %>
        <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
      <% else %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <% end %>

   
</head>


  <body  >
    <%= render "layouts/navbar" %>
    <main class="main" >
     <%= turbo_frame_tag "modal" %>
      <%= yield %>
    </main>
  </body>
</html>
