<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>


  <body  >
    <%= render "layouts/navbar" %>
    <main class="bg-emerald-500  min-h-screen grid place-content-center" >
    <% flash.each do |name,value|%>
    <p class=" text-red-500 text-center">
    <%= value %>
    </p>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
