<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>


  <body  >
    <%= render "layouts/navbar" %>
    <main class="bg-clip-border p-6 bg-white-600 border-4 border-gray-600 border-dashed  min-w-screen h-[42.5vw] grid place-content-center" >
    <% flash.each do |name,value|%>
      <%if value == "Signed out successfully."%>
    <p class=" text-red-500 text-lg">
    <%= value %>
    </p>
   <%else%>
    <p class=" text-green-500 text-lg">
    <%= value %>
    </p>
    <%end%>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
